@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
    --color-button-primary:#4E4E4E;
    --color-button-secundary:#343333;
    --font-poppins: 'Poppins', sans-serif;
}